<nav class="site-nav">
  <div class="site-wrapper">
    <a class="site-logo" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <div class="site-nav-right">
      <ul class="site-menu">
        {% for item in site.data.navigation.menu %}
          <li>
            <a href="{{ item.url }}" aria-label="{{ item.name }}">{{ item.name }} </a>
          </li>
        {%- endfor %}
        <a href="/about">
          {% include icons/icon-info.html %}
        </a>
        {% include search.html %}
      </ul>
    </div>
  </div>
</nav>
