.site-main {
  margin-top: 80px;
}

.archive {
  li {
    cursor: pointer;
    padding-bottom: 40px;

    &:not(:first-child) {
      border-top: 1px solid #d8d8d8;
      padding-top: 30px;
      padding-top: 30px;

      @media only screen and (min-width: 735px) {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }

    span {
      margin-top: 12px;
    }

    h2 {
      font-size: 28px;
      font-weight: 600;
      margin-top: 10px;

      @media only screen and (max-width: 734px) {
        font-size: 21px;
      }

      @media only screen and (max-width: 1068px) {
        font-size: 24px;
      }
    }

    p {
      font-size: 17px;
      margin-top: 10px;

      @media only screen and (min-width: 735px) {
        font-size: 19px;
      }
    }
  }
}
