.page__title {
  margin-top: 1em;
  margin-bottom: 1em;
}

.page__meta {
  margin-bottom: 2em;
}

.page {
  float: left;

  @include breakpoint($large) {
    padding-left: 0;
  }
  @include breakpoint($x-large) {
    padding-left: 0;
  }
  @include breakpoint($large) {
    padding-right: 0;
  }
  @include breakpoint($x-large) {
    padding-right: 0;
  }
}

table {
  display: table;
  table-layout: fixed;
  word-break: break-all;
}

.toc__menu {
  a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 0;
  }

  li.active > a {
    color: #0550ae;
    font-weight: 600;
  }

  .active a {
    background: none;
  }
}

*:has(> .pagination--pager) {
  display: none !important;
}

.page__related {
  float: none;
  clear: both;
  display: inline-block;
  width: 100%;
}
