.page__title {
  margin-top: 1em;
  margin-bottom: 1em;
}

.page__meta {
  margin-bottom: 2em;
}

.page {
  float: left;

  @include breakpoint($large) {
    padding-left: 0;
  }
  @include breakpoint($x-large) {
    padding-left: 0;
  }
  @include breakpoint($large) {
    padding-right: 0;
  }
  @include breakpoint($x-large) {
    padding-right: 0;
  }
}

.toc {
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;

  .nav__title {
    background: 0;
    color: inherit;
    font-size: 0.7em;
  }
}

.toc__menu {
  position: relative;
  padding-left: 0.5rem;

  a {
    display: block;
    position: relative;
    padding-left: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 0;
    color: #8c8c8c;
    transition: color 0.15s ease-in-out;

    &::before {
      background-color: #eee;
      content: " ";
      display: inline-block;
      left: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      width: 1px;
      transition: background-color 0.15s ease-in-out;
    }

    &:hover {
      color: #0550ae;
    }
  }

  li.active > a {
    color: #0550ae;
    font-weight: bold;

    &::before {
      background-color: #0550ae;
    }
  }

  .active a {
    background: none;
  }
}

*:has(> .pagination--pager) {
  display: none;
}

.page__related {
  float: none;
  clear: both;
  display: inline-block;
  width: 100%;
}
