.post {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 1.25rem;

  .post-header {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .page-title {
    font-size: 32px;
  }
}

.post-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    padding-top: 1rem;
    font-weight: 600;
    line-height: 1.25;

    &:first-child {
      margin-top: 0;
    }
  }

  h1,
  h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid var(--color-border-muted);
  }

  p,
  pre,
  ul,
  ol,
  table,
  blockquote {
    margin-bottom: 16px;
  }

  ul,
  ol {
    padding-left: 2em;

    li {
      margin-top: 16px;
    }

    li + li {
      margin-top: 0.25em;
    }

    pre {
      margin-top: 0.5rem;
    }
  }

  code {
    padding: 0.2em 0.4em;
    font-size: 85%;
    background-color: rgba(175, 184, 193, 0.2);
    border-radius: 6px;
  }

  pre {
    padding: 16px;
    overflow: auto;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 6px;

    code {
      padding: 0;
      background-color: transparent;
      border-radius: 0;
    }
  }
}

blockquote[data-callout] {
  padding: 0.5rem 1rem;
  margin: 1rem 0px;
  border-left: 0.25em solid var(--color-alert);
  font-size: 16px;

  .alert-title {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1;
    color: var(--color-alert);

    svg {
      width: 16px;
      height: 16px;
      margin-right: 0.5rem;
    }
  }

  ul:last-child {
    margin-bottom: 0;
  }
}
