* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-size: 17px;
  font-weight: 400;
  font-family: var(--fontStack-sansSerif);
  color: #1d1d1f;
}

a {
  color: rgb(9, 105, 218);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: 0.75rem 0.5rem 6px 13px;
  border-bottom: 1px solid var(--color-border-muted);
  box-shadow: (216, 222, 228) 0px -1px 0px 0px inset;
  font-size: 16px;

  &:first-child {
    padding-left: 0;
  }
}

th {
  border-bottom-width: 2px;
}

code,
pre {
  font-family: var(--fontStack-monospace);
}
