:root {
  --fontStack-sansSerif:
    -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji;
  --fontStack-monospace:
    ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono",
    monospace;
  --color-border-muted: hsla(210, 18%, 87%, 1);
  --color-alert: hsla(210, 18%, 87%, 1);
  --bgColor-muted: #f6f8fa;
  --fgColor-accent: #0969da;
  --fgColor-success: #1a7f37;
  --fgColor-done: #8250df;
  --fgColor-attention: #9a6700;
  --fgColor-danger: #d1242f;
}

@media (prefers-color-scheme: dark) {
  [data-theme="dark"] {
  }
}
