---
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

.archive__item a {
  text-decoration: none !important;
}

.page {
  float: left;
  width: 100%;

  @include breakpoint($large) {
    padding-left: 0;
  }
  @include breakpoint($x-large) {
    padding-left: 0;
  }
  @include breakpoint($large) {
    padding-right: 0;
  }
  @include breakpoint($x-large) {
    padding-right: 0;
  }
}
